* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1140px;
  justify-content: center;
}

header {
  text-align: center;
  padding: 50px;
  margin: auto;
}

header p {
  font-size: 17px;
}

.first {
  font-weight: 200;
}

.second {
  font-weight: 600;
  padding-bottom: 20px;
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

h1 {
  color: hsl(234, 12%, 34%);
}

h2 {
  color: hsl(234, 12%, 34%);
}

.card {
  padding: 30px;
  width: 350px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 14px 1px #00000024;
}

.card img {
  display: block;
  margin-left: auto;
}

.card p {
  margin: 15px 0 30px;
}

.card-one {
  border-style: solid;
  border-color: hsl(180, 62%, 55%) transparent transparent transparent;
}

.card-two {
  border-style: solid;
  border-color: hsl(0, 78%, 62%) transparent transparent transparent;
}

.card-three {
  border-style: solid;
  border-color: hsl(34, 97%, 64%) transparent transparent transparent;
}

.card-four {
  border-style: solid;
  border-color: hsl(212, 86%, 64%) transparent transparent transparent;
}

.card-stack {
  transform: translateY(50%);
}

@media (max-width: 775px) {
  .card-stack {
    transform: translateY(0);
  }
}
